// Variables
@import "variables";

// Customization
@mixin form_notice {
  .Notice {
    color: $form-notice-color;
    padding: 0.625em 1em;
    margin-bottom: #{$form-gutters-bottom}px;

    &.Notice--error,
    &.Notice--success,
    &.Notice--info,
    &.Notice--warning {
      border-style: $form-notice-border-style-top $form-notice-border-style-right $form-notice-border-style-bottom $form-notice-border-style-left;
      border-radius: #{$form-notice-border-radius-tl}px #{$form-notice-border-radius-tr}px #{$form-notice-border-radius-br}px #{$form-notice-border-radius-bl}px;
      border-width: #{$form-notice-border-width-top}px #{$form-notice-border-width-right}px #{$form-notice-border-width-bottom}px #{$form-notice-border-width-left}px;
    }

    &.Notice--error {
      background-color: $form-notice-error-background-color;
      border-color: $form-notice-error-border-color;
    }

    &.Notice--success {
      background-color: $form-notice-success-background-color;
      border-color: $form-notice-success-border-color;
    }

    &.Notice--info {
      background-color: $form-notice-info-background-color;
      border-color: $form-notice-info-border-color;
    }

    &.Notice--warning {
      background-color: $form-notice-warning-background-color;
      border-color: $form-notice-warning-border-color;
    }

    a {
      text-decoration: underline;

      &,
      &:active,
      &:focus,
      &:hover,
      &:visited {
        color: formColor(link);
      }
    }

    b, strong {
      font-weight: bold;
    }

    i, em {
      font-style: italic;
    }

    .Notice-items {
      list-style-type: none;
      margin-bottom: 0;
      padding: 0;
    }
  }
}