@use "sass:math";

// Variables
@import "../variables";

// Customization
@mixin form_field_checkbox-collection {
  .FieldCheckboxCollection {
    &:focus {
      outline: none;
    }
  }

  .FieldCheckboxCollection {
    .FieldCheckbox {
      display: none;

      + .FieldLabel {
        position: relative;
        font-size:$form-field-checkbox-collection-label-font-size;
        color: $form-field-checkbox-collection-label-color;
        display: flex;
        align-items: center;
        column-gap: 0.4em;
        user-select: none;
        cursor: pointer;

        &::before {
          display: block;
          content: " ";
          height: #{$form-field-checkbox-collection-box-height}px;
          width: #{$form-field-checkbox-collection-box-width}px;
        }

        &::after {
          display: block;
          content: " ";
          position: absolute;
          top: 50%;
          left: #{math.div($form-field-checkbox-collection-box-width, 2) + $form-field-checkbox-collection-box-border-width}px;
          margin-top: -#{math.div($form-field-checkbox-collection-box-checked-height, 2)}px;
          margin-left: -#{math.div($form-field-checkbox-collection-box-checked-width, 2)}px;
          height: #{$form-field-checkbox-collection-box-checked-height}px;
          width: #{$form-field-checkbox-collection-box-checked-width}px;
          transform: scale(0);
          transition: transform 200ms ease-in-out;
        }
      }

      &:checked + .FieldLabel::after {
        transform: scale(1);
        transition: transform 200ms ease-in-out;
      }

      & + .FieldLabel::after {
        background-color: $form-field-checkbox-collection-box-checked-background-color;
      }

      & + .FieldLabel::before {
        border: #{$form-field-checkbox-collection-box-border-width}px solid $form-field-checkbox-collection-box-border-color;
        background-color: $form-field-checkbox-collection-box-background-color;
      }
    }

    &[aria-invalid="true"] .FieldCheckbox + .FieldLabel::before {
      border: 1px solid $form-notice-error-border-color;
    }
  }
}